.button {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	background-color: var(--clr-n-400);
	border: solid 1px var(--clr-n-500);
	width: 100%;
	color: var(--clr-b-100);
	font-size: var(--fs-200);
	gap: 6px;
	padding-block: 5px;

	svg {
		width: 18px;
	}

	&:hover {
		background-color: var(--clr-n-300);
		color: var(--clr-p-100);
	}

	&.blue {
		background-color: var(--clr-a-100);
		color: var(--clr-n-400);
		border: none;

		&:hover {
			background-color: var(--clr-a-100h);
			color: var(--clr-n-400);
		}
	}
}
